.d_none {
	display: none;
}

.btn_dark {
	background: #181818;
	color: white;
}

.btn_light {
	background: #f9f9f9;
	color: black;
}

.star_btn {
	font-size: 2.8rem;
	line-height: 1;
	margin: 0 0 0 0.175em;
	cursor: pointer;
}

#filter_btn {
	font-size: 1.5rem;
	font-family: inherit;
	border: 0.05em solid #2466b4;
	border-radius: 0.25em;
	margin: 0 0.6em 0 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}
